/* to make sure column elemnts are rendered full-screen-height */
html, body, .frame
{
    height: 100%;
    margin: 0;
}


/* ensure border & padding are included in width */
* {box-sizing: border-box;}

nav .navbar-brand
{
    color: #ffff00 !important;
    font-size: xx-large;
}

/* fixed to bottom footer */
footer
{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
}


.col1
{
    width: 20%;
    height: 100%;
    background-color: #d9d9d9;
    float: left;
    padding: 5px;
}

.col2
{
    width: 80%;
    height: 100%;
    background-color: white;
    float: left;
    padding: 1px;
}

.frame:after
{
    content: "";
    display: table;
    clear: both;
}

.explore
{
    font-family: Verdana, Georgia, Arial;
    font-size: 18px;
}

/* columns stack on top of each other on small screens */
@media only screen and (max-width: 768px) {
  [class*="col"] {
    width: 100%;
    height: auto;
  }
}

.errocode
{
    background-color: #cce0ff;
    height: auto;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;

}

.errocode h5, .errocode p
{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Georgia, "Time New Romans";
    padding-left: 10px;
}

.errormessage
{
    display: none;
    background-color: #cce0ff;
    height: auto;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 5px;

    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Georgia, "Time New Romans";
    padding-left: 10px;
}

.more
{
    margin: auto;
    width: 80%;

    font-size: 16px;
    font-family: Verdana, Georgia, "Time New Romans";
    padding-left: 10px;
}

.more a:hover
{
    text-decoration: none;
}

.compare
{
    font-size: 16px;
    font-family: Verdana;
}

.nation1, .nation2
{
    padding: 6px 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #008080;
    color: white;
}

.nation2
{
    margin-top: 8px;
    display: none;
}

.comparebox
{
    margin-top: 12px;
}

.data_table table
{
    font-size: 0.8rem;
    margin: 2px;
}

.stats_table table
{
    font-size: 0.9rem;
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 2px;
}
