{% extends "layout.html" %}

{% block title %}Error{% endblock %}

{% block main %}
    <div class="errocode">
        <h5>Error {{code}}</h5>
        <p>{{name}}</p>
    </div>
    <div class="more">
        <a href="#">more...</a>
    </div>
    <div class="errormessage">
        <p>{{ description }}</p>
    </div>

    <script>
        // show more information if asked by user
        $(document).ready(function(){
            $("a").click(function(){
                $(this).hide();
                $(".errormessage").show()
            });
        });
    </script>

{% endblock %}
