{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="frame">
        <!-- two columns layout -->
        <div class="col1">
            <div class="explore">
                <h5><b>Select to explore</b></h5>
                <form class="option" action="{{ url_for('index') }}" method="get">
                    <input type="radio" name="overopt" id="overopt" value="timeline"> Timeline
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="continent"> Continents
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="region"> World Regions
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="topten"> Top 10 Countries
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="Asia"> Top 5 Asia
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="Europe"> Top 5 Europe
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="Africa"> Top 5 Africa
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="America"> Top 5 America
                    <br>
                    <input type="radio" name="overopt" id="overopt" value="map"> World Map
                    <br>
                </form>
            </div>
        </div>
        <div class="col2">
            <div class="container">
                <img class="img-fluid mx-auto d-block" src="static/aus.jpg" alt="">
            </div>
            <div class="map"></div>
        </div>
    </div>

    <script>
        // fetches charts based on user-selected option
        $(document).ready(function(){
            $("input[name='overopt']").change(function(){
                if ($(this).val() !== "map"){
                    $.get("/option", {"option": $(this).val()}, function(data){
                        $(".map").html("")
                        $('img').attr('src', data);
                    });
                }
                else {
                    $('img').attr('src', "");
                    $.get("/option", {"option": $(this).val()}, function(data){
                        $(".map").html(data)
                    });
                }
            });
        });
    </script>
{% endblock %}
